
    <form >
        <div class="d-flex flex-column">
            <div class="form-group d-flex d-inline-flex">
                <label class="form-control-label col-form-label col-sm-2"><strong>Nome</strong></label>
                <input type="text" class="form-control ml-5">
            </div>
            
            <div class="form-group d-flex d-inline-flex">
                <label class="form-control-label col-form-label col-sm-2"><strong>Matricula</strong></label>
                <input type="text" class="form-control ml-5">
            </div>
        </div>
        
        <sgn-notas-aluno></sgn-notas-aluno>
        <div class="row ">
            <button class="btn btn-primary" id="cadastrar">Cadastrar</button>
        </div>
    </form> 



