<div class="container-fluid">

    <header class="container d-flex justify-content-end mt-3">

        <form class="d-inline-flex">
            
            <div class="form-group d-inline-flex mr-3">
                <label class="form-control-label col-form-label col-sm-4"><strong>Usuário</strong></label>
                <input type="text" [(ngModel)]="usuario" class="form-control" name="usuario">
            </div>

            <div class="form-group d-inline-flex mr-3">
                <label class="form-control-label col-form-label col-sm-4"><strong>Senha</strong></label>
                <input type="password" [(ngModel)]="senha" class="form-control" name="senha">
            </div>

            <div class="rol ml-3 ">
                <button class="btn btn-primary" (click)="logar()">Entrar</button>
            </div>
        </form>
    
    </header>
    <div class="text text-center ">
        <p class="alert alert-warning" *ngIf="senhaInvalida" role="alert">
            Usuário ou Senha Inválidos
        </p>
    </div>
</div>
<hr>
<div class="text text-center">
    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOViAiC9gpHYcEWRWM9z9hVqqwPXedv2gRMA&usqp=CAU" alt="facepalm" *ngIf="senhaInvalida">
    <p>A senha está no arquivo leia-me.txt</p>
</div>