<div class="container-fluid">
    <div  *ngIf="!estaLogado();else logado">
        <header>
            <sgn-login></sgn-login>
        </header>
        <main>
            
        </main>
    </div>
    <ng-template #logado class="container">
        
        <header>
            <sgn-logado></sgn-logado>
        </header>

        <main class="d-flex">
            <div class="col-md-4">
                <sgn-cadastrar-aluno ></sgn-cadastrar-aluno>
            </div>
            <div class="col-md-8">
                <sgn-listar-alunos></sgn-listar-alunos>
            </div>
        </main>

    </ng-template>
</div>