
<ul class="list-group" *ngIf="alunos">
    <li class="list-group-item list-group-item-action" *ngFor="let aluno of alunos">

        <div class="d-flex flex-column">
            
            <header class="d-inline-flex justify-content-between">
                <div>
                    <strong class="col-sm-6">Nome: {{ aluno._nome }} </strong>
                    <span class="badge " 
                        [ngClass]=" media(aluno._notas)>7 ? 'badge-success' : media(aluno._notas)==7 ? 'badge-warning' : 'badge-danger' "> {{ media(aluno._notas) }} 
                    </span>
                </div> 
        
                <div>
                    <i class="col-sm-6"> {{ aluno._matricula }} </i>
                    <button class="btn btn-danger btn-sm" (click)="delete(aluno._matricula)">delete</button>
                </div>
            </header>
            
            <main class="mt-4">
    
                <button class="btn btn-secondary" (click)="exibirNotas(aluno._nome)">Exibir</button>
                <sgn-notas-aluno 
                    *ngIf="exibirNotasAluno && exibirNotasAlunoNome==aluno._nome" 
                    [receberNotas]="aluno._notas">
                </sgn-notas-aluno>
            </main>
        
        </div>
    </li>
</ul>