
<ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let aluno of alunos">

        <div class="d-flex flex-column">
            
            <header class="d-inline-flex justify-content-between">
                <div>
                    <strong class="col-sm-6">Nome: {{ aluno._nome }} </strong>
                    <span class="badge badge-warning"> {{ 10 }}  </span>
                </div> 
        
                <div>
                    <i class="col-sm-6"> {{ aluno._matricula }} </i>
                </div>
            </header>
            
            <main class="mt-4">
                <button class="btn btn-light" (click)="exibirNotas()">Exibir</button>
                <sgn-notas-aluno *ngIf="exibirNotasAluno" [receberNotas]="aluno._notas"></sgn-notas-aluno>
            </main>
        
        </div>
    </li>
</ul>